In [1]:
#logging 
import logging
logging.basicConfig(filename="23FebInfo.log", level=logging.INFO, format="%(asctime)s %(name)s %(message)s")
logging.info("Pandas Working Started ")

In [5]:
# Answer1

import pandas as pd
logging.info("import pandas") 
series1 = pd.Series([4,8,15,16,23,42])
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [7]:
# Answer2
import pandas as pd
#creating a variable lst having the type list and conatins 10 elements
lst = ["sachin","Akash","Vinod","mirzapur","kalin ","Bhaiya","Raju","web_series","season2","season1"]
logging.info("Creating the series of list")
series2 = pd.Series(lst)
print(series2) #printing the series

0        sachin
1         Akash
2         Vinod
3      mirzapur
4        kalin
5        Bhaiya
6          Raju
7    web_series
8       season2
9       season1
dtype: object

In [23]:
# Answer3
import pandas as pd
logging.info("create input in the form of dict than pass to the DataFrame")
dict1 = {"Name":["Alice","Bob","claire"] ,
         "Age":[25,30,27],
         "Gender":["Female","Male","Female"]}

dtf = pd.DataFrame(dict1, index= None)

print(dtf)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

In [27]:
# Answer4
# DataFrame
"""
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. 
It can be thought of as a table or spreadsheet.
It is 2-d heterogenious Datastructure in pandas 
"""
# some key differences between DataFrame and Series:

"""
DataFrame has two dimensions (rows and columns), 
whereas Series has only one dimension (rows).

Both DataFrame and Series have labels for both the rows and columns, 
but in Series, the column label is always None or the name of the single column of data.


DataFrame can contain multiple columns and rows of data, 
whereas Series can only contain a single column of data.
"""
# Example of DataFrame

import pandas as pd
logging.info("create input in the form of dict than pass to the DataFrame")
dict1 = {"Name":["Alice","Bob","claire"] ,
         "Age":[25,30,27],
         "Gender":["Female","Male","Female"]}

dtf = pd.DataFrame(dict1, index= None)
print(dtf)
print("\n\n")

# Example of the Series 
"""
It is one dimenional """


lst = ["Web","Series","Raju"]
s= pd.Series(lst)
print(s)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female



0       Web
1    Series
2      Raju
dtype: object

In [37]:
# Answer5
# There are some common functions to manipulate data in DataFrame are 

"""
head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.
drop(): Removes specified rows or columns from the DataFrame.
groupby(): Groups the DataFrame by one or more columns and applies a function to each group.
etc.

"""

# Example
import pandas as pd
data1 = {'product': ['M', 'BAQ', 'APX', 'BTU', 'AMN', 'SAB'],
        'region': ['NorthEast', 'North', 'SouthEast', 'South', 'East', 'East'],
        'sales': [1005, 2005, 1150, 2520, 725, 1205]}
dtf = pd.DataFrame(data1)
print(dtf)
print("\n\n")

# 1 using the head()
print(dtf.head(2))
print("\n\n")

# 2 using the tail() 
print(dtf.tail(2))
print("\n\n")

# 3 using the GroupyBy
"""
Goupby function group  the data 
"""
logging.info("Groupby is used to gruop the prodcut and sales")
print(dtf.groupby(['product', 'sales']).sum())



# 4 etc

  product     region  sales
0       M  NorthEast   1005
1     BAQ      North   2005
2     APX  SouthEast   1150
3     BTU      South   2520
4     AMN       East    725
5     SAB       East   1205



  product     region  sales
0       M  NorthEast   1005
1     BAQ      North   2005



  product region  sales
4     AMN   East    725
5     SAB   East   1205



                  region
product sales
AMN     725         East
APX     1150   SouthEast
BAQ     2005       North
BTU     2520       South
M       1005   NorthEast
SAB     1205        East

In [ ]:
# Answer6
"""
In Pandas, both Series and DataFrame are mutable in nature, 
which means that you can change the values of their elements after they have been created.
However, Panel is deprecated in recent versions of Pandas and replaced by more efficient and useful data structures like MultiIndex or xarray.
"""

In [39]:
# Answer7
# DataFrame using the series
"""
we can create a DataFrame using multiple Series by passing a dictionary where the keys are the column names and the values are the Series.

"""
# For Example

import pandas as pd

logging.info(" create a Series for each column")
#series creating 
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# create a DataFrame using the Series
logging.info("passsing the series in dict and then dict is used as parameter in DataFrame")
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female